Python Syntax

In [2]:
def main():
    max = 10
    numbers = []
    i = 1
    while (i <= max):
        numbers.append(i)
        i += 1
    return numbers

# Call the function main and print the result
result = main()
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

String literals

In [6]:
s = 'This is a string'
print(s)
s = "Another string using double quotes"
print(s)
s = ''' string can span
        multiple line '''
print(s)

This is a string
Another string using double quotes
 string can span
        multiple line

Python Variables

In [8]:
message = 'Hello, World!'
print(message)
message = 'Good bye!'
print(message)

Hello, World!
Good bye!

In [10]:
message = 'This is a string in Python'
print(message)
message = "This is also a string"
print(message)
message = '"Beautiful is better than ugly.". Said Tim Peters'
print(message)
message = 'It\'s also a valid string'
print(message)

This is a string in Python
This is also a string
"Beautiful is better than ugly.". Said Tim Peters
It's also a valid string

Creating multiline strings

In [12]:
help_message = '''
Usage: mysql command
    -h hostname     
    -d database name
    -u username
    -p password 
'''

print(help_message)

Usage: mysql command
    -h hostname
    -d database name
    -u username
    -p password

Using variables in Python strings with the f-strings

In [13]:
name= "Rishi"
message = f"Have great day {name}"
print(message)

Have great day Rishi

Concatenating Python strings

In [14]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [15]:
greeting = 'Good '
time = 'Afternoon'

greeting = greeting + time + '!'
print(greeting)

Good Afternoon!

Accessing string elements

In [17]:
str = "Python String"
print(str[0]) # P
print(str[1]) # y
print(str[-1])  # g
print(str[-2])  # n

P
y
g
n

Getting the length of a string

In [20]:
str = "Daisy teaches English."
str_len = len(str)
print(str_len)

22

Slicing Strings

In [21]:
str = "Daisy teaches English."
print(str[0:4])

Dais

Python strings are immutable

In [23]:
str = "Daisy teaches English"
new_str = 'M' + str[1:]
print(new_str)

Maisy teaches English

Python Numbers

In [26]:
a= 20
b= 30
sum = a + b
sub = a - b
mult = a*b
div = a/b
sqr = a**2
print(sum)
print(sub)
print(mult)
print(div)
print(sqr)

50
-10
600
0.6666666666666666
400

In [27]:
a=20
b=10
c=10
prblm= a/(a+b)
print(prblm)

0.6666666666666666

Floats

In [30]:
a=0.5
b=0.5
add =a+b
sub = a-b
div = a/b
mult = a*b
print(add, sub, div, mult )

1.0 0.0 1.0 0.25

In [31]:
count = 10_000_000_000
print(count)

10000000000

#Python Boolean

Introduction to Python Boolean data type

In [32]:
a= 20
b=10
if (a>b):
    print(True)
else:
    print(False)

True

In [34]:
num1= 'a'
num2= 'b'
if (num1>num2):
    print("'A' is greater")
else:
    print("'B' is greater")

'B' is greater

#The bool() function

In [36]:
bool('hi')
bool('')
bool(100)
bool(0)

False

In [37]:
FILE_SIZE_LIMIT = 2000

Python block comments

In [41]:
amount= 1
prcnt= 2
price = amount +(prcnt/100)
print(price)

1.02

In [48]:
value= input('Enter a value')
print(value)

34

Python docstrings

In [52]:
price = float(input('Enter the price ($): '))
tax = float(input('Enter the tax rate (%): '))

tax_amount = price * tax / 100

print(f'The tax amount is ${tax_amount:.2f}')

The tax amount is $10.00

In [55]:
a= 'apple'
b= 'orange'
if a>=b:
    print(True)
else: print(False)

False

In [56]:
a= 'apple'
b= 'apple'
if a==b:
    print(True)
else: print(False)

True

In [58]:
>>> 20 != 20
False

False

In [60]:
>>> price = 9.99
>>> price > 9 and price < 10

True

In [63]:
>>> not (price > 5 and price < 10)

False

In [62]:
>>> price = 9.99
>>> price > 10 or price < 5

False

Introduction to type conversion in Python

In [67]:
age = int(input("ENter your age: "))
if age >= 18:
    print("You are eligible to vote")
    print("Let's go and vote")
else:
    print('You are not eligible. Try after you are 18 years')

You are eligible to vote
Let's go and vote

In [69]:
age = int(input('Enter your age: '))
if age < 5:
    ticket_price = 5
elif age < 16:
    ticket_price = 10
else:
    ticket_price = 18

print(f"You'll pay ${ticket_price} for the ticket")

You'll pay $18 for the ticket

In [70]:
age = int(input('Enter your age: '))
if  age  >=18:
    ticket_price = 20
else:
    ticket_price = 5
print(f"The ticket price is {ticket_price}")

The ticket price is 20

In [81]:
age = int(input('Enter your age: '))
ticket_price =20 if int(age)>=18 else 5
print(f"The ticket price is {ticket_price}")

The ticket price is 20

In [83]:
for index in range(5):
    print(index)

0
1
2
3
4

In [85]:
for index in range(5):
    print(index+1)

1
2
3
4
5

In [87]:
for index in range(4, 7):
    print(index)

4
5
6

In [88]:
for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

In [89]:
sum = 0
for num in range (101):
    sum += num
print(sum)

5050

In [90]:
n= 100
sum = n*(n+1)/2
print(sum)

5050.0

In [91]:
max = 5
counter = 0
while counter< max:
    print(counter)
    counter +=1

0
1
2
3
4

In [92]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

Echo: 34
Echo: 56
Echo: 12
Echo: 3
Echo: 4
Echo:
Echo: 2
Echo: 32
Echo:
Echo: 32
Echo: 1
Echo: 0
Echo: 0
Echo: exit
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo:
Echo: quit

In [94]:
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [95]:
for x in range(5):
    for y in range(5):
        # terminate the innermost loop
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [97]:
print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --

In [98]:
for index in range(10):
    if index%2:
        continue
    print(index)

0
2
4
6
8

In [99]:
for index in range(10):
    if index%2:
        continue
    print(index+1)

1
3
5
7
9

In [101]:
counter = 1
max = 10
if counter <= max:
    counter += 1
else:
    pass

In [102]:
for i in range(1,100):
    pass

In [107]:
def greet(name):
    message= f'Hello, {name}! Welcome to our program.'
    print(message)

greet("Rishikesh")

Hello, Rishikesh! Welcome to our program.

In [110]:
def sum(a, b):
    return a+b
total = sum(20, 12)
print(total)

32

In [115]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('Omkar', 'Hello')
print(greeting)

Hello Omkar

In [118]:
def greet(name, message='Hi'):
    return f"{message} {name}"


greeting = greet('John')
print(greeting)

Hi John

In [119]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet()
print(greeting)

Hi there

In [120]:
def greet(name='there', message='Hi'):
    return f"{message} {name}"


greeting = greet('Hello')
print(greeting)

Hi Hello

In [122]:
def greet(name='day', message='bad'):
    return f"{message} {name}"


greeting = greet(message='good')
print(greeting)

good day

Introduction to the Python keyword arguments

In [124]:
net_price = get_net_price(100, 0.1)
print(net_price)

90.0

Keyword arguments and default parameters

In [125]:
net_price = get_net_price(0.1, 100)
print(net_price)

-9.9

In [132]:
net_price = get_net_price(100)
print(net_price)

102.0

In [133]:
net_price = get_net_price(price=100, discount=0.06)
print(net_price)

101.0

In [134]:
net_price = get_net_price(100, tax=0.08, discount=0.06)
print(net_price)

102.0

Python recursive function examples

In [138]:
def count_down(start):
    print(start)
    
    next = start - 1
    if next > 0:
        count_down(next)


count_down(3)

3
2
1

Using a recursive function to calculate the sum of a sequence

Suppose that you need to calculate a sum of a sequence e.g., from 1 to 100. A simple way to do this is to use a for loop with the range() function:

In [139]:
def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total

result = sum(100)
print(result)

5050

In [141]:
def sum(n):
    if n>0:
        return n+sum(n-1)
    return 0
result = sum(100)
print(result)

5050

Python Lambda Expressions

In [144]:
full_name = get_full_name('John', 'Doe', first_last)
print(full_name)

full_name = get_full_name('John', 'Doe', last_first)
print(full_name)

John Doe
Doe, John

In [146]:
def get_full_name(first_name, last_name, format):
    return format(first_name, last_name)


full_name = get_full_name(
    'Tony',
    'Stark',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'Tony',
    'Stark',
    lambda first_name, last_name: f"{last_name} {first_name}"
)
print(full_name)

Tony Stark
Stark Tony

 Functions that return a function example

In [151]:
def times(n):
    return lambda x:x*n
double = times(2)

result = double(2)
print(result)

result = double(3)
print(result)

4
6

In [153]:
triple = times(3)

print(triple(21))
print(triple(8))

63
24

Python lambda in a loop

In [154]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda: i)

for f in callables:
    print(f())

3
3
3

In [156]:
callables = []
for i in (1, 2, 3):
    callables.append(lambda a=i: a)

for f in callables:
    print(f())

1
2
3

Python lambda in a loop

Introduction to the help() function

In [157]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [161]:
help(add)

Help on function add in module __main__:

add(a, b)
    Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments

Python List

In [162]:
numbers = [1, 3, 2, 7, 9, 4]
print(numbers)

[1, 3, 2, 7, 9, 4]

Python Tuples

Introduction to Python tuples

In [163]:
colors = ['red', 'green', 'blue']
print(colors)

['red', 'green', 'blue']

In [164]:
coordinates = [[0, 0], [100, 100], [200, 200]]
print(coordinates)

[[0, 0], [100, 100], [200, 200]]

In [166]:
numbers = [1, 3, 2, 7, 9, 4]

print(numbers[5])

4

In [168]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[0] = 10

print(numbers)

[10, 3, 2, 7, 9, 4]

In [170]:
numbers = [1, 4, 6, 5, 7, 8]
numbers[1] = numbers[1]*10
print(numbers)

[1, 40, 6, 5, 7, 8]

In [171]:
numbers = [1, 3, 2, 7, 9, 4]
numbers[2] /= 2

print(numbers)

[1, 3, 1.0, 7, 9, 4]

In [173]:
numbers = [1, 4, 6, 5, 7, 8]
numbers.append(100)

print(numbers)

[1, 4, 6, 5, 7, 8, 100]

In [175]:
numbers = [1, 3, 2, 7, 9, 4]
numbers.insert(2, 69)

print(numbers)

[1, 3, 69, 2, 7, 9, 4]

In [176]:
numbers = [1, 4, 6, 5, 7, 8]
del numbers[0]

print(numbers)

[4, 6, 5, 7, 8]

In [177]:
numbers = [1, 3, 2, 7, 9, 4]
last = numbers.pop()

print(last)
print(numbers)

4
[1, 3, 2, 7, 9]

In [178]:
numbers = [1, 3, 2, 7, 9, 4]

second = numbers.pop(1)

print(second)
print(numbers)

3
[1, 2, 7, 9, 4]

In [179]:
numbers = [1, 3, 2, 7, 9, 4, 9]

numbers.remove(9)
print(numbers)

[1, 3, 2, 7, 4, 9]

Defining a tuple

In [180]:
rgb = ('red', 'green', 'blue')

print(rgb[0])
print(rgb[1])
print(rgb[2])

red
green
blue

In [181]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [ ]:
numbers = (3)
print(type(numbers))

Assigning a tuple

In [182]:
colors = ('red', 'green', 'blue')
print(colors)

colors = ('Cyan', 'Magenta', 'Yellow', 'black')
print(colors)

('red', 'green', 'blue')
('Cyan', 'Magenta', 'Yellow', 'black')

In [183]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()

print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [184]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort(reverse=True)

print(guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [185]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort()

print(scores)

[4, 5, 6, 7, 8, 9]

In [186]:
scores = [5, 7, 4, 6, 9, 8]
scores.sort(reverse=True)

print(scores)

[9, 8, 7, 6, 5, 4]

In [188]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]
def sort_key(company):
    return company[2]
companies.sort(key=sort_key, reverse = True)
print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [189]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

# sort the companies by revenue
companies.sort(key=lambda company: company[2])

# show the sorted companies
print(companies)

[('Facebook', 2019, 70.7), ('Google', 2019, 134.81), ('Apple', 2019, 260.2)]

In [190]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

In [191]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests, reverse=True)

print(sorted_guests)

['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [192]:
scores = [5, 7, 4, 6, 9, 8]
sorted_scores = sorted(scores)

print(sorted_scores)

[4, 5, 6, 7, 8, 9]

In [193]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[1:4]

print(sub_colors)

['orange', 'yellow', 'green']

In [194]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[:3]

print(sub_colors)

['red', 'orange', 'yellow']

In [195]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[-3:]

print(sub_colors)

['blue', 'indigo', 'violet']

In [196]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
sub_colors = colors[::2]

print(sub_colors)

['red', 'yellow', 'blue', 'violet']

In [197]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
reversed_colors = colors[::-1]

print(reversed_colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']

In [198]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[0:2] = ['black', 'white']

print(colors)

['black', 'white', 'yellow', 'green', 'blue', 'indigo', 'violet']

In [199]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
print(f"The list has {len(colors)} elements")

colors[0:2] = ['black', 'white', 'gray']
print(colors)
print(f"The list now has {len(colors)} elements")

The list has 7 elements
['black', 'white', 'gray', 'yellow', 'green', 'blue', 'indigo', 'violet']
The list now has 8 elements

In [200]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
del colors[2:5]

print(colors)

['red', 'orange', 'indigo', 'violet']

In [201]:
colors = ['red', 'blue', 'green']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green']

In [202]:
colors = ['cyan', 'magenta', 'yellow', 'black']
cyan, magenta, *other = colors

print(cyan)
print(magenta)
print(other)

cyan
magenta
['yellow', 'black']

In [203]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for city in cities:
    print(city)

New York
Beijing
Cairo
Mumbai
Mexico

In [204]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for item in enumerate(cities):
    print(item)

(0, 'New York')
(1, 'Beijing')
(2, 'Cairo')
(3, 'Mumbai')
(4, 'Mexico')

In [205]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities):
    print(f"{index}: {city}")

0: New York
1: Beijing
2: Cairo
3: Mumbai
4: Mexico

In [206]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

In [209]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

In [ ]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']
city = 'Nagpur'

if city in cities:
    result = cities.index(city)
    print(f"The {city} has an index of {result}.")
else:
    print(f"{city} doesn't exist in the list.")

In [210]:
for index in range(3):
    print(index)

0
1
2

In [211]:
str = 'Iterables'
for ch in str:
    print(ch)

I
t
e
r
a
b
l
e
s

In [212]:
ranks = ['high', 'medium', 'low']

for rank in ranks:
    print(rank)

high
medium
low

In [213]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

red

In [214]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [216]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

In [217]:
bonuses = [100, 200, 300]

new_bonuses = []

for bonus in bonuses:
    new_bonuses.append(bonus*2)

print(new_bonuses)

[200, 400, 600]

In [218]:
def double(bonus):
    return bonus * 2


bonuses = [100, 200, 300]

iterator = map(double, bonuses)

In [219]:
bonuses = [100, 200, 300]
iterator = map(lambda bonus: bonus*2, bonuses)
print(list(iterator))

[200, 400, 600]

In [220]:
names = ['david', 'peter', 'jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [221]:
carts = [['SmartPhone', 400],
         ['Tablet', 450],
         ['Laptop', 700]]

TAX = 0.1
carts = map(lambda item: [item[0], item[1], item[1] * TAX], carts)

print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

In [222]:
scores = [70, 60, 80, 90, 50]

filtered = []

for score in scores:
    if score >= 70:
        filtered.append(score)

print(filtered)

[70, 80, 90]

In [223]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >= 70, scores)

print(list(filtered))

[70, 80, 90]

In [225]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

populated = filter(lambda c: c[1] > 300000000, countries)

print(list(populated))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

In [226]:
scores = [75, 65, 80, 95, 50]

total = 0

for score in scores:
    total += score

print(total)

365

In [227]:
from functools import reduce

def sum(a, b):
    print(f"a={a}, b={b}, {a} + {b} ={a+b}")
    return a + b


scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75 + 65 =140
a=140, b=80, 140 + 80 =220
a=220, b=95, 220 + 95 =315
a=315, b=50, 315 + 50 =365
365

In [228]:
from functools import reduce

scores = [75, 65, 80, 95, 50]

total = reduce(lambda a, b: a + b, scores)

print(total)

365

In [229]:
numbers = [1, 2, 3, 4, 5]

squares = []
for number in numbers:
    squares.append(number**2)

print(squares)

[1, 4, 9, 16, 25]

In [230]:
numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda number: number**2, numbers))

print(squares)

[1, 4, 9, 16, 25]

In [231]:
numbers = [1, 2, 3, 4, 5]
squares = [number**2 for number in numbers]

print(squares)

[1, 4, 9, 16, 25]

In [233]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]


highest_mountains = list(filter(lambda m: m[1] > 8600, mountains))

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [234]:
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

highest_mountains = [m for m in mountains if m[1] > 8600]

print(highest_mountains)

[['K2', 8611], ['Everest', 8848]]

In [235]:
empty_dict = {}

print(type(empty_dict))

<class 'dict'>

In [236]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])
print(person['last_name'])

John
Doe

In [238]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn')
print(ssn)

None

In [239]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

ssn = person.get('ssn', '000-00-0000')
print(ssn)

000-00-0000

In [240]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

person['age'] = 26

print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 26, 'favorite_colors': ['blue', 'green'], 'active': True}

In [241]:
person = {
    'first_name': 'Harry',
    'last_name': 'Potter',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

del person['active']
print(person)

{'first_name': 'Harry', 'last_name': 'Potter', 'age': 25, 'favorite_colors': ['blue', 'green']}

In [243]:
person = {
    'first_name': 'Harry',
    'last_name': 'Potter',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'Harry'), ('last_name', 'Potter'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [244]:

person = {
    'first_name': 'John',
    'last_name': 'Wick',
    'age': 56,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [245]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person:
    print(key)

first_name
last_name
age
favorite_colors
active

In [246]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

In [247]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [248]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [249]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {}
for symbol, price in stocks.items():
    if price > 200:
        selected_stocks[symbol] = price

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [250]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

selected_stocks = {s: p for (s, p) in stocks.items() if p > 200}

print(selected_stocks)

{'AMZN': 3380, 'MSFT': 219, 'BIIB': 280, 'QDEL': 266}

In [251]:
skills = set()

if not skills:
    print('Empty sets are falsy')

Empty sets are falsy

In [253]:
characters = set('Hummer')
print(characters)

{'u', 'H', 'e', 'm', 'r'}

In [254]:
ratings = {1, 2, 3, 4, 5}
size = len(ratings)

print(size)

5

In [255]:
ratings = {1, 2, 3, 4, 5}
rating = 6

if rating not in ratings:
    print(f'The set does not contain {rating}')

The set does not contain 6

In [256]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Problem solving', 'Python programming', 'Software design'}

In [258]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skill = skills.pop()

print(skill)

Problem solving

In [260]:
skills = {'Problem solving', 'Software design', 'Python programming'}

for skill in skills:
    print(skill)

Problem solving
Python programming
Software design

In [262]:
skills= {"problem Solving", "software design", "Python Programming"}
for index, skill in enumerate(skills):
    print(f"{index+1}.{skill}")

1.software design
2.Python Programming
3.problem Solving

In [264]:
tags = {'Django', 'Pandas', 'Numpy'}

lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [265]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = set(map(lambda tag: tag.lower(), tags))

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [266]:
tags = {'Django', 'Pandas', 'Numpy'}
lowercase_tags = {tag.lower() for tag in tags}

print(lowercase_tags)

{'django', 'pandas', 'numpy'}

In [267]:
tags = {'Django', 'Pandas', 'Numpy'}
new_tags = {tag.lower() for tag in tags if tag != 'Numpy'}

print(new_tags)

{'django', 'pandas'}

In [268]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1.union(s2)

print(s)

{'Java', 'C#', 'Python'}

In [269]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

s = s1 | s2

print(s)

{'Java', 'C#', 'Python'}

In [270]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)

print(ratings)

{1, 2, 3, 4}

In [271]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.intersection(s2)

print(s)

{'Java', 'C++'}

In [272]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 & s2

print(s)

{'Java', 'C++'}

In [273]:
numbers = {1, 2, 3}
scores = [2, 3, 4]

numbers = numbers.intersection(scores)

print(numbers)

{2, 3}

In [275]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [276]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

In [277]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

In [278]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{8, 7}

In [280]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'C#', 'Python'}

In [281]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'C#', 'Python'}

In [282]:
scores = {7, 8, 9}
ratings = [8, 9, 10]
new_set = scores.symmetric_difference(ratings)

print(new_set)

{10, 7}

In [283]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [284]:
numbers = {1, 2, 3, 4, 5}

print(numbers.issubset(numbers))

True

In [285]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(numbers.issubset(scores))

False

In [286]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

In [287]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)

result = numbers < numbers
print(result)

True
False

#Introduction to Python issuperset method

In [288]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [ ]:
numbers = {1, 2, 3, 4, 5}
result = numbers.issuperset(numbers)

print(result)

In [289]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores.issuperset(numbers)

print(result)

False

In [290]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

In [291]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result) 

result = numbers > numbers
print(result)

True
False

In [292]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [293]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False

In [294]:
letters = {'A', 'B', 'C'}
result = letters.isdisjoint([1, 2, 3])

print(result)

True

#Python for else

In [295]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

found = False
for person in people:
    if person['name'] == name:
        found = True
        print(person)
        break

if not found:
    print(f'{name} not found!')

john not found!

In [296]:
people = [{'name': 'John', 'age': 25},
        {'name': 'Jane', 'age': 22},
        {'name': 'Peter', 'age': 30},
        {'name': 'Jenifer', 'age': 28}]

name = input('Enter a name:')

for person in people:
    if person['name'] == name:
        print(person)
        break
else:
    print(f'{name} not found!')

{'name': 'Peter', 'age': 30}

In [299]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 20 apple(s)

In [300]:
basket = [
    {'fruit': 'apple', 'qty': 20},
    {'fruit': 'banana', 'qty': 30},
    {'fruit': 'orange', 'qty': 10}
]

fruit = input('Enter a fruit:')

index = 0

while index < len(basket):
    item = basket[index]
    # check the fruit name
    if item['fruit'] == fruit:
        print(f"The basket has {item['qty']} {item['fruit']}(s)")
        found_it = True
        break

    index += 1
else:
    qty = int(input(f'Enter the qty for {fruit}:'))
    basket.append({'fruit': fruit, 'qty': qty})
    print(basket)

The basket has 10 orange(s)

#Python dowhile Loop Statement Emulation

In [302]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

# The first attempt
input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
attempt += 1

if input_number > secret_number:
    print('It should be smaller.')
elif input_number < secret_number:
    
    print('It should be bigger.')
else:
    print(f'Bingo! {attempt} attempt(s)')

# From the second attempt
while input_number != secret_number:

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))
    attempt += 1

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')

It should be bigger.
It should be bigger.
It should be bigger.
Bingo! 4 attempt(s)

In [303]:
from random import randint

# determine the range
MIN = 0
MAX = 10

# generate a secret number
secret_number = randint(MIN, MAX)

# initialize the attempt
attempt = 0

while True:
    attempt += 1

    input_number = int(input(f'Enter a number between {MIN} and {MAX}:'))

    if input_number > secret_number:
        print('It should be smaller.')
    elif input_number < secret_number:
        print('It should be bigger.')
    else:
        print(f'Bingo! {attempt} attempt(s)')
        break

Bingo! 1 attempt(s)

#Python Unpacking Tuple

In [304]:
numbers = 10, 20, 30
print(type(numbers))

<class 'tuple'>

In [305]:
x = 10
y = 20

print(f'x={x}, y={y}')

tmp = x
x = y
y = tmp

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [306]:
x = 10
y = 20

print(f'x={x}, y={y}')

x, y = y, x

print(f'x={x}, y={y}')

x=10, y=20
x=20, y=10

In [308]:
odd_numbers = (1, 3, 5)
even_numbers = (2, 4, 6)
numbers = (*odd_numbers, *even_numbers)
print(numbers)

(1, 3, 5, 2, 4, 6)

In [309]:
x, y, *z = 10, 20, 30, 40

print(x)
print(y)
print(z)

10
20
[30, 40]

In [310]:

def add(x, y, *args):
    total = x + y
    for arg in args:
        total += arg

    return total


result = add(10, 20, 30, 40)
print(result)

100

In [311]:
def add(*args):
    print(args)


add()

()

In [312]:
def add(*args):
    print(type(args))
    print(args)

add()

<class 'tuple'>
()

In [313]:
def add(*args):
    print(args)


add(1,2,3)

(1, 2, 3)

In [314]:
def add(*args):
    print(args[0])
    print(args[1])
    print(args[2])


add(1, 2, 3)

1
2
3

In [315]:
def add(*args):
    total = 0
    for arg in args:
        total += arg
    return total


total = add(1, 2, 3)
print(total)

6

In [317]:
def point(x, y):
    return f'({x},{y})'


a = (0, 0)
origin = point(*a)
print(origin)

(0,0)

#Introduction to the Python **kwargs parameters

In [320]:
def connect(**kwargs):
    print(kwargs)


config = {'server': 'localhost',
        'port': 3306,
        'user': 'root',
        'password': 'Py1thon!Xt12'}

connect(**config)

{'server': 'localhost', 'port': 3306, 'user': 'root', 'password': 'Py1thon!Xt12'}

In [321]:
def connect(fn, **kwargs):
    print(kwargs)

In [323]:
fn(1, 2, x=10, y=20)

(1, 2)
{'x': 10, 'y': 20}

Introduction to Python partial functions

In [326]:
def multiply(a, b):
    return a*b


def double(a):
    return multiply(a, 2)


result = double(10)
print(result)  # 20

20

In [327]:
from functools import partial

def multiply(a, b):
    return a*b


double = partial(multiply, b=2)

result = double(10)
print(result)

20

In [328]:
from functools import partial


def multiply(a, b):
    return a*b


x = 2
f = partial(multiply, x)

result = f(10)  # 20
print(result)

x = 3
result = f(10)  # 20
print(result)

20
20

Python Type Hints

In [330]:
def say_hi(name):
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [331]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi('John')
print(greeting)

Hi John

In [332]:
def say_hi(name: str) -> str:
    return f'Hi {name}'


greeting = say_hi(123)
print(greeting)

Hi 123

In [333]:
from typing import Union


def add(x: Union[int, float], y: Union[int, float]) -> Union[int, float]:
    return x + y